.popup__container {
  position: absolute;
  background-color: #fff;
  border-radius: 10px;
  width: 358px;
  height: 259px;
  padding: 34px 36px 37px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

@media screen and (max-width: 570px) {
  .popup__container {
    padding: 25px 22px 25px;
    width: 238px;
    height: 272px;
  }
}

