.profile-info__add-button {
  width: 146px;
  height: 46px;
  background-color: #000;
  border: 2px solid #fff;
  margin: 0;
  justify-self: end;
  background-image: url(../../../images/button/Vector.svg);
  background-position: center;
  background-size: initial;
  background-repeat: no-repeat;
  transition: opacity .2s linear;
  cursor: pointer;
}

.profile-info__add-button:hover {
  opacity: .6;
}

@media screen and (max-width: 708px) {
  .profile-info__add-button {
    width: 340px;
    margin: 36px 0 0;
  }
}

@media screen and (max-width: 380px) {
  .profile-info__add-button {
    width: 87%;
  }
}