.footer__copyright {
  margin: 67px 0 0;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  color: #545454;
}

@media screen and (max-width: 380px) {
  .footer__copyright {
    margin: 48px 19px 0;
  }
}