.form__close-icon {
  position: relative;
  width: 32px;
  height: 32px;
  left: 402px;
  top: -334px;
  z-index: 4;
  transition: opacity .2s linear;
}

.form__close-icon:hover {
  opacity: .6;
}

@media screen and (max-width: 570px) {
  .form__close-icon {
    width: 20px;
    height: 20px;
    left: 240px;
    top: -333px;
  }
}